[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "plugins/sensible"]
	path = plugins/sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "plugins/colors-solarized"]
	path = plugins/colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "plugins/pain-control"]
	path = plugins/pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control.git
[submodule "plugins/yank"]
	path = plugins/yank
	url = https://github.com/tmux-plugins/tmux-yank.git
